body {
  width: 100%;
  height: 100%;
}

#container {
  width: 90%;
  margin-top: 100px;
  padding-bottom: 15px;
  font-family: 'Lato', Helvetica, sans-serif;
}

iframe {
  position: absolute;
  width: 0px;
  height: 0px;
  visibility: hidden;
}

button:focus {
  outline: none;
}

.list-group-item {
  height: 40px;
}

#playlist li:hover button {
  opacity: 1;
}

#search-panel {
  float: right;
  width: 44%;
  margin-top: calc(750px / 2 - 40px / 2);
  margin-left: 28%;
  margin-right: 28%;
}

#playlist-panel {
  float: left;
  margin-top: 15px;
  margin-left: 3%;
  margin-right: 3%;
  width: 44%;
  height: 0;
  opacity: 0;
  transition: 1s;
}

#results {
  overflow-y: auto;
  opacity: 0;
  transition: 1s;
}

#playlist {
  clear: both;
  overflow-y: auto;
  margin-bottom: 0;
  opacity: 0;
  transition: 1s;
}

#controls {
  display: none;
  text-align: center;
  margin-bottom: 30px;
  opacity: 0;
  transition: 1s;
}

#search-form {
  margin-bottom: 33px;
}

#query {
  height: 40px;
}

#now-playing {
  display: block;
  margin-bottom: 0;
  width: 100%;
  height: 30px;
  font-size: 1.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#track-time {
  font-size: 1.25em;
}

#play-button {
  display: none;
}

#main-buttons {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 108px;
  height: 108px;
}

#main-button-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#play-button, #pause-button {
  position: absolute;
  width: 98px;
  height: 98px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  border: none;
  transition: 0.5s;
}

#play-button:hover, #pause-button:hover, #prev-button:hover, #next-button:hover {
  color: white;
  background-color: #ccc;
}

#prev-button, #next-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  transition: 0.5s;
}

#shuffle-button, #save-playlist {
  height: 35px;
  transition: 0.5s;
}

#shuffle-button:hover, #save-playlist:hover {
  background-color: #ccc;
}

.fa-random, .fa-save {
  transition: 0.5s;
}

#shuffle-button:hover .fa-random {
  color: white;
}

#save-playlist:hover .fa-save {
  color: white;
}

.play-track, .delete-track {
  opacity: 0;
}

.play-track {
  color: #009999;
  background-color: transparent;
}

.play-track:hover {
  background-color: #009999;
}

.play-track:hover .fa-play {
  color: white;
}

.delete-track {
  margin-left: 5px;
  color: #d9534f;
  background-color: transparent;
}

.delete-track:hover {
  background-color: #d9534f;
}

.delete-track:hover .fa-trash {
  color: white;
}
