html {
}

body {
  width: 100%;
  height: 100%;
}

#container {
  width: 90%;
  margin-top: 100px;
  padding-bottom: 15px;
  font-family: 'Lato', Helvetica, sans-serif;
}

iframe {
  position: absolute;
  width: 0px;
  height: 0px;
  visibility: hidden;
}

.list-group-item {
  height: 40px;
}

#playlist li:hover button {
  opacity: 1;
}

#search-panel {
  float: left;
  width: 49%;
  margin-top: calc(750px / 2 - 40px / 2);
  margin-left: 25.5%;
  margin-right: 1%;
}

#playlist-panel {
  float: right;
  margin-top: 15px;
  margin-left: 1%;
  width: 49%;
  height: 0;
  opacity: 0;
  transition: 1s;
}

#results {
  overflow-y: auto;
  opacity: 0;
  transition: 1s;
}

#playlist {
  clear: both;
  overflow-y: auto;
  margin-bottom: 0;
  opacity: 0;
  transition: 1s;
}

#controls {
  display: none;
  text-align: center;
  margin-bottom: 30px;
  opacity: 0;
  transition: 1s;
}

#search-form {
  margin-bottom: 33px;
}

#query {
  height: 40px;
}

#now-playing {
  display: block;
  margin-bottom: 0;
  font-size: 1.5em;
}

#track-time {
  font-size: 1.25em;
}

#play-button {
  display: none;
}

#main-buttons {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 108px;
  height: 108px;
}

#main-button-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#play-button, #pause-button {
  position: absolute;
  width: 98px;
  height: 98px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  border: none;
  transition: 0.5s;
}

#play-button:hover, #pause-button:hover, #prev-button:hover, #next-button:hover {
  color: white;
}

#prev-button, #next-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  transition: 0.5s;
}

#shuffle-button, #save-playlist {
  height: 35px;
  transition: 0.5s;
}

.play-track, .play-track:hover {
  color: white;
  background-color: #009999;
}

.delete-track {
  margin-left: 5px;
}

.play-track, .delete-track {
  opacity: 0;
}
