body {
  width: 100%;
  height: 100%;
}

#container {
  width: 90%;
  margin-top: 100px;
  padding-bottom: 15px;
  font-family: 'Lato', Helvetica, sans-serif;
}

iframe {
  position: absolute;
  width: 0px;
  height: 0px;
  visibility: hidden;
}

button:focus {
  outline: none;
}

#welcome {
  position: absolute;
  top: calc(50% - 100px);
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #707070;
}

#login {
  font-size: 1.2em;
  color: #707070;
  border: 1px solid #707070;
  background-color: white;
  text-decoration: none;
  text-shadow: none;
  transition: 0.5s;
}

#login:hover {
  color: white;
  background-color: #707070;
}

#logout {
  position: absolute;
  top: 30px;
  right: 30px;
}

.fa-sign-out {
  color: #ccc;
  transition: 0.5s;
}

#logout:hover .fa-sign-out {
  color: #d9534f;
}

#main {
  position: relative;
  overflow: hidden;
  height: 750px;
}

#hide-search {
  position: relative;
  text-align: center;
}

#hide-search:hover {
  cursor: pointer;
}

#show-search {
  display: none;
  position: absolute;
  right: 0;
  top: calc(750px / 2);
  transform: translateY(-50%);
  vertical-align: middle;
}

#show-search:hover {
  cursor: pointer;
}

#click-to-search {
  display: none;
  position: absolute;
  right: 15px;
  top: calc(750px / 2 + 90px);
  transform: translateY(-50%);
  transform: rotate(-90deg);
  font-size: 1.25em;
}

.list-group-item {
  height: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-group-item:first-child, .list-group-item:last-child {
  border-radius: 0 !important;
}

#playlist li:hover button {
  opacity: 1;
}

#search-panel {
  float: right;
  width: 44%;
  margin-top: calc(750px / 2 - 40px / 2 - 50px);
  margin-left: 28%;
  margin-right: 28%;
}

#playlist-panel {
  float: left;
  margin-top: 15px;
  margin-left: 3%;
  margin-right: 3%;
  width: 44%;
  height: 0;
  opacity: 0;
  transition: 1s;
}

#results {
  overflow: hidden;
  opacity: 0;
  transition: 1s;
}

#results .list-group-item {
  transition: 0.2s;
}

#results .list-group-item:hover {
  color: white;
  background-color: #ccc;
}

#playlist {
  clear: both;
  overflow: hidden;
  margin-bottom: 0;
  opacity: 0;
  transition: 1s;
}

#controls {
  display: none;
  text-align: center;
  margin-bottom: 10px;
  opacity: 0;
  transition: 1s;
}

#search-form {
  margin-bottom: 33px;
}

#query {
  height: 40px;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
}

#query:focus {
  border-color: #ccc;
}

#now-playing {
  display: block;
  margin-bottom: 0;
  width: 100%;
  height: 30px;
  font-size: 1.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#track-time {
  margin: 10px 0;
  font-size: 1.25em;
}

#play-button {
  display: none;
}

#main-buttons {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
  width: 108px;
  height: 108px;
}

#main-button-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#play-button, #pause-button {
  position: absolute;
  width: 98px;
  height: 98px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  border: 1px solid #ccc;
  transition: 0.5s;
}

#play-button:hover, #pause-button:hover, #prev-button:hover, #next-button:hover {
  color: white;
  background-color: #ccc;
}

#prev-button, #next-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ccc;
  transition: 0.5s;
}

#shuffle-button, #save-playlist {
  height: 35px;
  transition: 0.5s;
  border-radius: 0;
}

#shuffle-button:hover, #save-playlist:hover {
  background-color: #ccc;
}

.fa-random, .fa-save {
  transition: 0.5s;
}

#shuffle-button:hover .fa-random {
  color: white;
}

#save-playlist:hover .fa-save {
  color: white;
}

.track-buttons {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.play-track, .delete-track {
  opacity: 0;
  border-radius: 0 !important;
}

.play-track {
  color: #009999;
  background-color: transparent;
}

.play-track:hover {
  background-color: #009999;
}

.play-track:hover .fa-play {
  color: white;
}

.delete-track {
  margin-left: 5px;
  color: #d9534f;
  background-color: transparent;
}

.delete-track:hover {
  background-color: #d9534f;
}

.delete-track:hover .fa-trash {
  color: white;
}
