body {
  font-family: 'Lato', Helvetica, sans-serif;
}

iframe {
  position: absolute;
  width: 0px;
  height: 0px;
  visibility: hidden;
}

#container {
  margin-top: 100px;
  width: 85%;
}

#search-panel {
  float: left;
  width: 49%;
  margin-left: 25.5%;
  margin-right: 1%;
  height: 630px;
}

#playlist-panel {
  float: right;
  margin-left: 1%;
  width: 49%;
  height: 0;
}

#results {
  margin-top: 8px;
  height: 575px;
  overflow-y: auto;
}

#now-playing {
  display: block;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.delete-track {
  margin-left: 5px;
}

#play-button {
  display: none;
}

#play-button, #pause-button, #prev-button, #next-button, #shuffle-button {
  width: 38px;
}
