body {
  font-family: 'Lato', Helvetica, sans-serif;
}

iframe {
  position: absolute;
  width: 0px;
  height: 0px;
  visibility: hidden;
}

#container {
  margin-top: 100px;
  width: 85%;
}

#now-playing {
  display: block;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.delete-track {
  margin-left: 5px;
}

#play-button {
  display: none;
}

#play-button, #pause-button, #prev-button, #next-button, #shuffle-button {
  width: 38px;
}
