<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf8">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300">
    

    <script src="https://apis.google.com/js/client.js?onload=init"
type="text/javascript"></script>
    <script src="//connect.soundcloud.com/sdk.js"></script>
    <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

    <script src="js/vendor/handlebars-v2.0.0.js"></script>
    <script src="js/vendor/swfobject.js" type="text/javascript"></script>

    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/views/view.js" type="text/javascript"></script>
    <script src="js/views/templates.js" type="text/javascript"></script>
    <script src="js/controllers/controller.js" type="text/javascript"></script>
    <script src="js/controllers/player.js" type="text/javascript"></script>

    <title></title>
  </head>

  <body>
    <div id="container" class="container">
      <br>
      <iframe src="https://www.youtube.com/embed/PoKZlyaDAmQ?enablejsapi=1" id="video"></iframe>
      <iframe src="https://w.soundcloud.com/player/?url=http://api.soundcloud.com/users/1539950/favorites" id="scwidget"></iframe>
      <p id="now-playing">Now Playing | <span id="now-playing-title"></span></p>
      <button id="play-button" class="btn btn-default"><i class="fa fa-play"></i></button>
      <button id="pause-button" class="btn btn-default"><i class="fa fa-pause"></i></button>
      <button id="prev-button" class="btn btn-default"><i class="fa fa-step-backward"></i></button>
      <button id="next-button" class="btn btn-default"><i class="fa fa-step-forward"></i></button>
      <button id="shuffle-button" class="btn btn-default"><i class="fa fa-random"></i></button>
      <button id="save-playlist" class="btn btn-default">Save Playlist</button>
      <br><br>
      <ul id="main-nav" class="nav nav-tabs" role="tablist">
        <li id="search-tab" class="active"><a href="#"><i class="fa fa-search"></i></a></li>
        <li id="playlist-tab"><a href="#"><i class="fa fa-list"></i></a></li>
      </ul>
      <br>
      <div id="main">
        <div class="input-group">
          <input id="query" class="form-control" type="text"/>
          <span class="input-group-btn">
            <button id="search-button" class="btn btn-success">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
        <br>
        <ul id="results" class="list-group"></ul>
      </div>
    </div>
  </body>
</html>

