<a id="logout" href="/logout"><i class="fa fa-sign-out fa-lg"></i></a>
<div id="container" class="container">
  <iframe src="https://www.youtube.com/embed/PoKZlyaDAmQ?enablejsapi=1" id="video"></iframe>
  <iframe src="https://w.soundcloud.com/player/?url=http://api.soundcloud.com/users/1539950/favorites" id="scwidget"></iframe>

  <div id="main">

    <div id="playlist-panel">
      <div id="controls">
        <div id="now-playing">Now Playing | <span id="now-playing-title"></span></div>
        <div id="track-time"><span id="minutes">0</span>:<span id="seconds">00</span></div>

        <div id="player-controls">
          <button id="prev-button" class="btn btn-default">
            <i class="fa fa-step-backward"></i>
          </button>
          <div id="main-buttons">
            <button id="play-button" class="btn btn-default">
              <i class="fa fa-play fa-2x"></i>
            </button>
            <button id="pause-button" class="btn btn-default">
              <i class="fa fa-pause fa-2x"></i>
            </button>
            <canvas id="main-button-canvas" width="108" height="108"></canvas>
          </div>
          <button id="next-button" class="btn btn-default">
            <i class="fa fa-step-forward"></i>
          </button>
        </div>

        <div id="player-options">
          <button id="shuffle-button" class="btn btn-default pull-left">
            <i class="fa fa-random"></i>
          </button>
          <button id="save-playlist" class="btn btn-default pull-right">
            <i class="fa fa-save"></i>
          </button>
        </div>
      </div>
      <ul id="playlist" class="list-group"></ul>
    </div>

    <div id="show-search">
      <i class="fa fa-long-arrow-left"></i>
    </div>

    <div id="search-panel">
      <form id="search-form" class="form-group">
        <input id="query" class="form-control" type="text" placeholder="Search..."/>
      </form>
      <ul id="results" class="list-group"></ul>
      <div id="hide-search">
        <i class="fa fa-long-arrow-right"></i>
      </div>
    </div>

  </div>

  <div id="click-to-search">click to search</div>
</div>

<script type="text/javascript">
  utility.loadPlaylist();
</script>
